*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

db/*.sqlite3
spec/dummy/db/*.sqlite3
spec/rails-*/app_root/db/*.sqlite3
log/*.log
spec/dummy/log/*.log
spec/rails-*/app_root/log/*.log
tmp/
spec/dummy/tmp/
spec/rails-*/app_root/tmp/
.DS_Store
config/database.yml
coverage
coverage/*.*
coverage.data
.project
.buildpath
.settings
.redcar
.redcar/*
._redcar/*
.redcar/lucene_last_updated
.redcar/tags
.vagrant*
VagrantFile
package.box
coverage.data
.rvmrc
*.sublime-*
.rbenv-version
